@import './base.css';

#app {
  /*max-width: 1280px;*/
  margin: auto auto;
  padding: 2rem;
  font-weight: normal;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    flex-direction: column;
    place-items: center;
  }
  
.error {
  position: absolute;
  top: 5%;
  left: 10%;
  padding: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #EF665B;
  border-radius: 8px;
}

.errorMsg {
  font-weight: 500;
  font-size: 14px;
  color: #fff;
}
}
